<!-- delete-movie.ejs -->
<h1>Delete Movie</h1>
<p>Are you sure you want to delete this movie?</p>
<p>Title: <%= movie.title %></p>
<p>Genre: <%= movie.genre %></p>
<p>Area: <%= movie.area %></p>
<p>Year: <%= movie.year %></p>
<p>Rating: <%= movie.rating %></p>
<p>Description: <%= movie.description %></p>
<form action="/dashboard/movies/<%= movie._id %>/delete" method="GET">
  <button type="submit">Delete</button>
  <a href="/dashboard/movies">Cancel</a>
</form>
