<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PhimmoiFlix</title>
    <!-- Link to CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Fav Icon -->
    <link rel="shortcut icon" href="./icon/fav-icon.png" type="image/x-icon" />
</head>
<body>
  <%- include('./partials/header') %>

  <div class="content-container">
    <div class="slider-banner">
      <div class="pc-focus-wrapper">
        <a href="" class="focus-img-link">
          <div>
            <div class="focus-img-wapper">
              <div
                class="focus-img-background"
                style="background-image: url(/img/7a3d3de91d_1808_1017.jpg)"
              >
                <div class="focus-character-container">
                  <div
                    class="focus-character"
                    style="background-image: url(/img/c32b930af5_xxx.png)"
                  ></div>
                </div>
                <div class="divide-box-banner">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
              </div>
            </div>
            <div class="focus-desc">
              <div class="focus-desc-wrap">
                <div
                  class="focus-item focus-item-title"
                  style="
                    background-image: url(/img/a15b61aa2f_xxx.png);
                    background-size: 100% auto;
                  "
                ></div>
                <div class="focus-item focus-item-labels">
                  <span class="focus-item-label-top">
                    <span class="focus-item-label-rank">TOP 10</span>
                    Top Phim Thịnh Hành
                  </span>
                  <span class="focus-item-label-original">iQIYI sản xuất</span>
                </div>
                <div class="focus-item focus-item-info">
                  <span class="focus-item-score">
                    <svg
                      width="16px"
                      height="16px"
                      viewbox="0 0 28 27"
                      version="1.1"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g
                        id="V1.12.0_UI_4391_Watch-Page-Add-Rating"
                        stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd"
                      >
                        <g
                          id="4391-6_1920_info"
                          transform="translate(-948.000000, -906.000000)"
                          fill="#1CC749"
                          fill-rule="nonzero"
                        >
                          <g id="Group-10-Copy-10" transform="translate(906.000000, 880.000000)">
                            <g id="ic/star_green" transform="translate(40.000000, 24.000000)">
                              <path
                                d="M16.7983826,2.56356746 L19.7968803,11.2875241 L29.1657516,11.3941138 C29.9719564,11.4033379 30.3057022,12.4128653 29.6590696,12.8853446 L22.1424877,18.3829131 L24.9344802,27.1724634 C25.17436,27.9288402 24.3014061,28.55198 23.643301,28.0938493 L16.0005215,22.7674392 L8.35669898,28.0928244 C7.69963687,28.5509551 6.82563997,27.9267904 7.06551979,27.1714385 L9.85751226,18.3818882 L2.34093036,12.8843197 C1.69429781,12.4118404 2.02804364,11.402313 2.83424842,11.3930889 L12.2031197,11.2864992 L15.2016174,2.56254256 C15.4602704,1.81231509 16.5407725,1.81231509 16.7983826,2.56356746 Z"
                                id="Star"
                              ></path>
                            </g>
                          </g>
                        </g>
                      </g>
                    </svg>
                    9.8
                  </span>
                  <span class="focus-item-year">2023</span>
                  <span class="focus-item-rating">C13</span>
                  <span class="focus-item-update">Trọn bộ 12 tập</span>
                </div>
                <div class="focus-item focus-item-tags">
                  <span>Đài Loan</span>
                  <span>Phim Hài</span>
                  <span>Thành Thị</span>
                  <span>Tiếng Phổ Thông</span>
                  <span>Tình Tiết</span>
                  <span>Viễn Tưởng</span>
                  <span>Bí Ẩn</span>
                  <span>Thanh Xuân</span>
                </div>
                <div class="focus-item focus-item-desc">
                  &quot;Người Thanh Trừng Chấp Niệm Bất Lương&quot; là một bộ phim truyền hình
                  nguyên tác của Đài Loan do trạm quốc tế iQIYI khởi chiếu, đạo diễn bởi Lâm Quán
                  Huệ (&quot;Hôm Nat, Trời Rất Xanh&quot;), do Tăng Kính Hoa (&quot;Cái tên khắc
                  sâu trong tim người &quot;), Tống Vân Hoa ( &quot; Thời thiếu nữ của tôi &quot;)
                  và Bành Thiên Hựu (&quot;Tội nhân vô định &quot;) đóng vai chính. Học sinh trung
                  học Bồ Nhất Vĩnh (Tăng Kính Hoa thủ vai) rơi vào trạng thái hôn mê sau khi gặp
                  phải một tai nạn xe hơi trên bờ vực sinh tử, sau khi tỉnh dậy thì bất ngờ sở hữu
                  siêu năng lực ( Bành Thiên Hựu thủ vai), cả ba bắt tay một hành trình tuyệt vời
                  và điên rồ để cùng nhau chiến đấu với quái vật. Phim sẽ được phát sóng trực
                  tuyến trên iQiyi quốc tế(iq.com) từ ngày 15/4.
                </div>
              </div>
            </div>
          </div>
          <div class="option-button">
            <div class="play-button">
              <div class="play-button-wrap">
                <svg
                  width="60px"
                  height="60px"
                  viewbox="0 0 60 60"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  class="play-button"
                >
                  <g
                    id="Btn/Play/Normal"
                    stroke="none"
                    stroke-width="1"
                    fill="none"
                    fill-rule="evenodd"
                  >
                    <circle id="bg" fill="#1CC749" cx="30" cy="30" r="30"></circle>
                    <path
                      d="M35.7461509,22.4942263 L45.1405996,36.5858994 C46.059657,37.9644855 45.6871354,39.8270935 44.3085493,40.7461509 C43.8157468,41.0746859 43.2367237,41.25 42.6444487,41.25 L23.8555513,41.25 C22.198697,41.25 20.8555513,39.9068542 20.8555513,38.25 C20.8555513,37.657725 21.0308654,37.078702 21.3594004,36.5858994 L30.7538491,22.4942263 C31.6729065,21.1156403 33.5355145,20.7431187 34.9141006,21.662176 C35.2436575,21.8818806 35.5264463,22.1646695 35.7461509,22.4942263 Z"
                      id="Triangle"
                      fill="#FFFFFF"
                      transform="translate(33.250000, 30.000000) rotate(-270.000000) translate(-33.250000, -30.000000) "
                    ></path>
                  </g>
                </svg>
              </div>
            </div>
            <div class="collect-button">
              <div class="collection-wrap">
                <div>
                  <svg
                    width="60px"
                    height="60px"
                    viewbox="0 0 60 60"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g
                      id="Btn/Add/Normal"
                      stroke="none"
                      stroke-width="1"
                      fill="none"
                      fill-rule="evenodd"
                    >
                      <circle
                        id="bg"
                        fill-opacity="0.8"
                        fill="#FFFFFF"
                        cx="30"
                        cy="30"
                        r="30"
                      ></circle>
                      <path
                        d="M29.3055556,17.25 C29.6890866,17.25 30,17.5609134 30,17.9444444 L30,19.3888889 C30,19.77242 29.6890866,20.0833333 29.3055556,20.0833333 L22.9166667,20.0833333 L22.9166667,39.724 L28.6396082,34.9562398 C29.3713667,34.346441 30.4106369,34.302884 31.1863257,34.8255686 L31.3603918,34.9562398 L37.0833333,39.7254167 L37.0833333,33.5277778 C37.0833333,33.1442467 37.3942467,32.8333333 37.7777778,32.8333333 L39.2222222,32.8333333 C39.6057533,32.8333333 39.9166667,33.1442467 39.9166667,33.5277778 L39.9166667,41.2376789 C39.9166667,42.4112764 38.9652794,43.3627321 37.7916667,43.3627321 C37.3655561,43.3627321 36.9510168,43.2346313 36.6007867,42.9976358 L36.4312748,42.8701491 L30,37.50975 L23.5687252,42.8701491 C22.7234861,43.574515 21.4929682,43.5114751 20.7233835,42.7579578 L20.5758631,42.5980707 C20.3030814,42.2707327 20.1360669,41.8703014 20.0939154,41.4495208 L20.0833333,41.2376789 L20.0833333,20.0833333 C20.0833333,18.5896541 21.2391602,17.3659327 22.7052117,17.2577715 L22.9166667,17.25 L29.3055556,17.25 Z M39.2222222,17.25 C39.6057533,17.25 39.9166667,17.5609134 39.9166667,17.9444444 L39.9163333,21.499 L43.4722222,21.5 C43.8557533,21.5 44.1666667,21.8109134 44.1666667,22.1944444 L44.1666667,23.6388889 C44.1666667,24.02242 43.8557533,24.3333333 43.4722222,24.3333333 L39.9163333,24.333 L39.9166667,27.8888889 C39.9166667,28.27242 39.6057533,28.5833333 39.2222222,28.5833333 L37.7777778,28.5833333 C37.3942467,28.5833333 37.0833333,28.27242 37.0833333,27.8888889 L37.0823333,24.333 L33.5277778,24.3333333 C33.1442467,24.3333333 32.8333333,24.02242 32.8333333,23.6388889 L32.8333333,22.1944444 C32.8333333,21.8109134 33.1442467,21.5 33.5277778,21.5 L37.0823333,21.499 L37.0833333,17.9444444 C37.0833333,17.5609134 37.3942467,17.25 37.7777778,17.25 L39.2222222,17.25 Z"
                        fill="#111319"
                        fill-rule="nonzero"
                      ></path>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </a>
        <div class="left-arrow">
          <svg
            width="29px"
            height="39px"
            viewbox="0 0 29 39"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <defs>
              <path
                d="M1001.5057,187.169783 L1001.5057,189.489783 C1001.50581,190.042067 1001.05809,190.489783 1000.50581,190.489783 C1000.50577,190.489783 1000.50573,190.489783 1000.5057,190.489677 L987.8257,190.488343 L987.8257,190.488343 L987.8257,203.169783 C987.8257,203.722067 987.377985,204.169783 986.8257,204.169783 L984.5057,204.169783 C983.953415,204.169783 983.5057,203.722067 983.5057,203.169783 L983.5057,189.049783 L983.5057,189.049783 C983.5057,187.531502 984.680564,186.287625 986.170762,186.177682 L986.3857,186.169783 L989.447804,186.169783 L1000.5057,186.169783 C1001.05798,186.169783 1001.5057,186.617498 1001.5057,187.169783 Z"
                id="path-arrow-focus"
              ></path>
              <filter
                x="-61.1%"
                y="-61.1%"
                width="222.2%"
                height="222.2%"
                filterunits="objectBoundingBox"
                id="filter-2"
              >
                <feMorphology
                  radius="0.5"
                  operator="dilate"
                  in="SourceAlpha"
                  result="shadowSpreadOuter1"
                ></feMorphology>
                <feOffset
                  dx="0"
                  dy="0"
                  in="shadowSpreadOuter1"
                  result="shadowOffsetOuter1"
                ></feOffset>
                <feGaussianBlur
                  stddeviation="3.5"
                  in="shadowOffsetOuter1"
                  result="shadowBlurOuter1"
                ></feGaussianBlur>
                <feComposite
                  in="shadowBlurOuter1"
                  in2="SourceAlpha"
                  operator="out"
                  result="shadowBlurOuter1"
                ></feComposite>
                <feColorMatrix
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"
                  type="matrix"
                  in="shadowBlurOuter1"
                ></feColorMatrix>
              </filter>
            </defs>
            <g id="控件" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g
                id="Banner/1024备份"
                transform="translate(-982.000000, -175.000000)"
                fill-rule="nonzero"
              >
                <g
                  id="箭头+阴影"
                  transform="translate(992.505700, 195.169783) scale(-1, 1) rotate(-45.000000) translate(-992.505700, -195.169783) "
                >
                  <use
                    fill="black"
                    fill-opacity="1"
                    filter="url(#filter-2)"
                    xlink:href="#path-arrow-focus"
                  ></use>
                  <path
                    stroke-opacity="0.157501434"
                    stroke="#000000"
                    stroke-width="0.5"
                    d="M1000.5057,185.919783 C1000.85088,185.919783 1001.16338,186.059694 1001.38958,186.285899 C1001.61579,186.512105 1001.7557,186.824605 1001.7557,187.169783 L1001.7557,187.169783 L1001.7557,189.489735 C1001.75576,189.8085 1001.63646,190.099384 1001.4401,190.320201 C1001.23827,190.547158 1000.95495,190.699931 1000.63615,190.733049 L1000.63615,190.733049 L988.0757,190.738239 L988.0757,203.169783 C988.0757,203.51496 987.935789,203.82746 987.709583,204.053666 C987.483378,204.279871 987.170878,204.419783 986.8257,204.419783 L986.8257,204.419783 L984.5057,204.419783 C984.160522,204.419783 983.848022,204.279871 983.621816,204.053666 C983.395611,203.82746 983.2557,203.51496 983.2557,203.169783 L983.2557,203.169783 L983.2557,189.049783 C983.2557,188.227768 983.57259,187.479774 984.09084,186.921263 C984.614966,186.356419 985.345098,185.985505 986.161672,185.927687 L986.161672,185.927687 Z"
                    fill="#FFFFFF"
                    fill-rule="evenodd"
                  ></path>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <div class="right-arrow">
          <svg
            width="29px"
            height="39px"
            viewbox="0 0 29 39"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <defs>
              <path
                d="M1001.5057,187.169783 L1001.5057,189.489783 C1001.50581,190.042067 1001.05809,190.489783 1000.50581,190.489783 C1000.50577,190.489783 1000.50573,190.489783 1000.5057,190.489677 L987.8257,190.488343 L987.8257,190.488343 L987.8257,203.169783 C987.8257,203.722067 987.377985,204.169783 986.8257,204.169783 L984.5057,204.169783 C983.953415,204.169783 983.5057,203.722067 983.5057,203.169783 L983.5057,189.049783 L983.5057,189.049783 C983.5057,187.531502 984.680564,186.287625 986.170762,186.177682 L986.3857,186.169783 L989.447804,186.169783 L1000.5057,186.169783 C1001.05798,186.169783 1001.5057,186.617498 1001.5057,187.169783 Z"
                id="path-arrow-focus"
              ></path>
              <filter
                x="-61.1%"
                y="-61.1%"
                width="222.2%"
                height="222.2%"
                filterunits="objectBoundingBox"
                id="filter-2"
              >
                <feMorphology
                  radius="0.5"
                  operator="dilate"
                  in="SourceAlpha"
                  result="shadowSpreadOuter1"
                ></feMorphology>
                <feOffset
                  dx="0"
                  dy="0"
                  in="shadowSpreadOuter1"
                  result="shadowOffsetOuter1"
                ></feOffset>
                <feGaussianBlur
                  stddeviation="3.5"
                  in="shadowOffsetOuter1"
                  result="shadowBlurOuter1"
                ></feGaussianBlur>
                <feComposite
                  in="shadowBlurOuter1"
                  in2="SourceAlpha"
                  operator="out"
                  result="shadowBlurOuter1"
                ></feComposite>
                <feColorMatrix
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"
                  type="matrix"
                  in="shadowBlurOuter1"
                ></feColorMatrix>
              </filter>
            </defs>
            <g id="控件" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g
                id="Banner/1024备份"
                transform="translate(-982.000000, -175.000000)"
                fill-rule="nonzero"
              >
                <g
                  id="箭头+阴影"
                  transform="translate(992.505700, 195.169783) scale(-1, 1) rotate(-45.000000) translate(-992.505700, -195.169783) "
                >
                  <use
                    fill="black"
                    fill-opacity="1"
                    filter="url(#filter-2)"
                    xlink:href="#path-arrow-focus"
                  ></use>
                  <path
                    stroke-opacity="0.157501434"
                    stroke="#000000"
                    stroke-width="0.5"
                    d="M1000.5057,185.919783 C1000.85088,185.919783 1001.16338,186.059694 1001.38958,186.285899 C1001.61579,186.512105 1001.7557,186.824605 1001.7557,187.169783 L1001.7557,187.169783 L1001.7557,189.489735 C1001.75576,189.8085 1001.63646,190.099384 1001.4401,190.320201 C1001.23827,190.547158 1000.95495,190.699931 1000.63615,190.733049 L1000.63615,190.733049 L988.0757,190.738239 L988.0757,203.169783 C988.0757,203.51496 987.935789,203.82746 987.709583,204.053666 C987.483378,204.279871 987.170878,204.419783 986.8257,204.419783 L986.8257,204.419783 L984.5057,204.419783 C984.160522,204.419783 983.848022,204.279871 983.621816,204.053666 C983.395611,203.82746 983.2557,203.51496 983.2557,203.169783 L983.2557,203.169783 L983.2557,189.049783 C983.2557,188.227768 983.57259,187.479774 984.09084,186.921263 C984.614966,186.356419 985.345098,185.985505 986.161672,185.927687 L986.161672,185.927687 Z"
                    fill="#FFFFFF"
                    fill-rule="evenodd"
                  ></path>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <div class="bottom-banner"></div>
        <div class="dot-move-slider">
          <span class="dot-move-a"></span>
          <span class="dot-move-n"></span>
          <span class="dot-move-n"></span>
          <span class="dot-move-n"></span>
          <span class="dot-move-n"></span>
          <span class="dot-move-n"></span>
        </div>
      </div>
    </div>
    <div class="movie-list-container">
      <div class="row-container">
        <div class="row-type-1">
          <div class="row-block channelPage">
            <h2 class="row-title">Đề xuất hot</h2>
            <div class="light-slider-container">
              <div class="slider-content">
                <div class="slider-move">
                  <% movies.forEach(movie => {
                    const movieUpdateInfo = movie.episodes.length === movie.totalEpisodes
                      ? `Trọn bộ ${movie.totalEpisodes} tập`
                      : `Cập nhật tập ${movie.episodes.length}`;
                %>
                    <div class="slide-item-wrap">
                        <div class="lightSlider" data-id="<%= movie.id %>">
                            <div class="plist-img-wrap">
                                <div>
                                    <a href="/movie-details/<%= movie.id %>">
                                        <div class="pic-box">
                                            <span>
                                                <img src="<%= movie.img1Url %>" alt="" />
                                            </span>
                                            <div class="update-info-layer">
                                                <div class="update-info-mask"><%= movieUpdateInfo %></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <a href="/movie-details/<%= movie.id %>">
                                    <div class="text-box">
                                        <p class="title"><%= movie.name %></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                <% }) %>
                
                </div>
                               
              </div>
              <div class="arrow-right">
                <svg
                  width="25px"
                  height="41px"
                  viewbox="0 0 25 41"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <g id="页面-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g
                      id="轮播图元素-2"
                      transform="translate(-324.000000, -2225.000000)"
                      fill="#FFFFFF"
                      fill-rule="nonzero"
                    >
                      <g id="06-箭头" transform="translate(100.000000, 2102.000000)">
                        <g id="hover" transform="translate(200.000000, 78.000000)">
                          <path
                            d="M44.1666667,52 L44.1666667,56.8372093 C44.1667695,57.3894941 43.7190542,57.8372093 43.1667695,57.8372093 C43.1667352,57.8372093 43.1667009,57.8372093 43.1666667,57.8371065 L22,57.8349302 L22,57.8349302 L22,78.4883721 C22,79.0406568 21.5522847,79.4883721 21,79.4883721 L16,79.4883721 C15.4477153,79.4883721 15,79.0406568 15,78.4883721 L15,55.5581395 L15,55.5581395 C15,53.1551754 16.9037148,51.1865074 19.3183879,51.0125024 L19.6666667,51 L43.1666667,51 C43.7189514,51 44.1666667,51.4477153 44.1666667,52 Z"
                            id="箭头/右-"
                            transform="translate(29.583333, 65.244186) scale(-1, 1) rotate(-45.000000) translate(-29.583333, -65.244186) "
                          ></path>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  

  <%- include('./partials/footer') %>
</body>
</html>


